.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.040039;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.096000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.ls3{letter-spacing:0.120000px;}
.ls2{letter-spacing:0.144000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.179360px;}
._4{width:1.179360px;}
._3{width:29.760000px;}
._16{width:36.957120px;}
._9{width:131.264000px;}
._8{width:132.272000px;}
._11{width:390.320000px;}
._7{width:563.440000px;}
._21{width:727.880000px;}
._2{width:729.272000px;}
._1{width:741.800000px;}
._1b{width:748.328000px;}
._1a{width:760.040000px;}
._a{width:837.976000px;}
._23{width:854.456000px;}
._22{width:866.120000px;}
._13{width:892.712000px;}
._6{width:903.512000px;}
._12{width:905.000000px;}
._5{width:915.560000px;}
._b{width:935.584000px;}
._10{width:963.416000px;}
._f{width:975.560000px;}
._18{width:1026.952000px;}
._15{width:1132.552000px;}
._14{width:1227.520000px;}
._1d{width:1264.120000px;}
._17{width:1277.656000px;}
._d{width:1346.920000px;}
._1e{width:1470.928000px;}
._1f{width:1510.912000px;}
._1c{width:1556.272000px;}
._c{width:1589.728000px;}
._e{width:1600.384000px;}
._20{width:1614.928000px;}
._19{width:2148.400000px;}
.fc0{color:rgb(0,0,0);}
.fc6{color:rgb(11,0,128);}
.fc4{color:rgb(17,85,204);}
.fc2{color:rgb(89,176,185);}
.fc1{color:rgb(38,203,236);}
.fc5{color:rgb(37,37,37);}
.fc3{color:rgb(169,141,99);}
.fs3{font-size:37.920000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:56.160000px;}
.y0{bottom:0.000000px;}
.y24{bottom:3.010000px;}
.y23{bottom:16.690000px;}
.y22{bottom:30.610000px;}
.y21{bottom:44.410000px;}
.y6d{bottom:45.504000px;}
.y38{bottom:49.704000px;}
.y6c{bottom:56.904000px;}
.y1f{bottom:58.200000px;}
.y37{bottom:61.224000px;}
.y6b{bottom:68.424000px;}
.y36{bottom:73.224000px;}
.y6a{bottom:79.944000px;}
.y35{bottom:86.544000px;}
.y69{bottom:91.464000px;}
.y34{bottom:98.544000px;}
.y68{bottom:102.980000px;}
.y33{bottom:112.340000px;}
.y67{bottom:114.980000px;}
.y32{bottom:126.140000px;}
.y66{bottom:128.780000px;}
.y31{bottom:139.940000px;}
.y65{bottom:142.580000px;}
.y9c{bottom:144.260000px;}
.y30{bottom:153.740000px;}
.y9b{bottom:155.780000px;}
.y64{bottom:156.380000px;}
.y9a{bottom:167.300000px;}
.y2f{bottom:167.420000px;}
.y63{bottom:169.700000px;}
.y99{bottom:178.700000px;}
.y2e{bottom:181.220000px;}
.y62{bottom:181.700000px;}
.y98{bottom:190.220000px;}
.y2d{bottom:194.540000px;}
.y61{bottom:195.500000px;}
.y97{bottom:201.740000px;}
.y2c{bottom:206.540000px;}
.y60{bottom:208.700000px;}
.y96{bottom:213.290000px;}
.y5f{bottom:220.250000px;}
.y2b{bottom:220.370000px;}
.y95{bottom:225.170000px;}
.y5e{bottom:232.250000px;}
.y2a{bottom:234.170000px;}
.y94{bottom:239.090000px;}
.y5d{bottom:246.050000px;}
.y29{bottom:247.970000px;}
.y93{bottom:252.530000px;}
.y5c{bottom:259.850000px;}
.y28{bottom:261.290000px;}
.y92{bottom:264.290000px;}
.y27{bottom:273.050000px;}
.y5b{bottom:273.650000px;}
.y91{bottom:277.730000px;}
.y26{bottom:286.370000px;}
.y5a{bottom:287.450000px;}
.y90{bottom:289.730000px;}
.y25{bottom:298.130000px;}
.y59{bottom:300.770000px;}
.y8f{bottom:303.530000px;}
.y20{bottom:307.120000px;}
.y1e{bottom:307.130000px;}
.y58{bottom:312.770000px;}
.y8e{bottom:317.330000px;}
.y57{bottom:326.570000px;}
.y8d{bottom:331.130000px;}
.y56{bottom:340.370000px;}
.y8c{bottom:344.450000px;}
.y55{bottom:353.690000px;}
.y8b{bottom:356.450000px;}
.y54{bottom:365.210000px;}
.y8a{bottom:370.250000px;}
.y53{bottom:377.210000px;}
.y1d{bottom:378.790000px;}
.y89{bottom:384.070000px;}
.y1c{bottom:390.550000px;}
.y52{bottom:391.030000px;}
.y88{bottom:397.870000px;}
.y1b{bottom:403.870000px;}
.y51{bottom:404.830000px;}
.y87{bottom:411.670000px;}
.y1a{bottom:416.110000px;}
.y50{bottom:418.630000px;}
.y86{bottom:424.990000px;}
.y19{bottom:429.910000px;}
.y4f{bottom:432.430000px;}
.y85{bottom:436.990000px;}
.y18{bottom:443.230000px;}
.y4e{bottom:445.630000px;}
.y84{bottom:450.310000px;}
.y17{bottom:455.230000px;}
.y4d{bottom:457.630000px;}
.y83{bottom:462.070000px;}
.y16{bottom:469.030000px;}
.y4c{bottom:471.430000px;}
.y82{bottom:475.630000px;}
.y15{bottom:482.350000px;}
.y4b{bottom:485.230000px;}
.y81{bottom:487.030000px;}
.y14{bottom:494.350000px;}
.y4a{bottom:498.310000px;}
.y80{bottom:498.550000px;}
.y13{bottom:508.150000px;}
.y49{bottom:510.310000px;}
.y7f{bottom:510.550000px;}
.y12{bottom:521.470000px;}
.y48{bottom:523.630000px;}
.y7e{bottom:524.350000px;}
.y11{bottom:533.110000px;}
.y47{bottom:535.390000px;}
.y7d{bottom:538.150000px;}
.y10{bottom:546.700000px;}
.y46{bottom:546.940000px;}
.y7c{bottom:551.980000px;}
.yf{bottom:558.220000px;}
.y45{bottom:558.940000px;}
.y7b{bottom:565.300000px;}
.ye{bottom:570.220000px;}
.y44{bottom:572.140000px;}
.y7a{bottom:577.300000px;}
.yd{bottom:584.020000px;}
.y43{bottom:584.140000px;}
.y79{bottom:591.100000px;}
.yc{bottom:597.940000px;}
.y78{bottom:604.420000px;}
.yb{bottom:611.620000px;}
.y42{bottom:611.740000px;}
.y77{bottom:615.940000px;}
.ya{bottom:625.540000px;}
.y76{bottom:627.940000px;}
.y9{bottom:639.220000px;}
.y41{bottom:639.340000px;}
.y75{bottom:641.740000px;}
.y8{bottom:652.660000px;}
.y40{bottom:653.140000px;}
.y74{bottom:655.540000px;}
.y7{bottom:664.420000px;}
.y3f{bottom:666.940000px;}
.y73{bottom:669.340000px;}
.y6{bottom:677.980000px;}
.y3e{bottom:680.260000px;}
.y72{bottom:683.140000px;}
.y5{bottom:689.500000px;}
.y3d{bottom:692.260000px;}
.y71{bottom:696.340000px;}
.y4{bottom:701.500000px;}
.y3c{bottom:706.060000px;}
.y70{bottom:708.340000px;}
.y3{bottom:715.320000px;}
.y3b{bottom:719.880000px;}
.y6f{bottom:722.160000px;}
.y2{bottom:729.120000px;}
.y3a{bottom:733.680000px;}
.y6e{bottom:735.480000px;}
.y1{bottom:743.040000px;}
.y39{bottom:747.000000px;}
.h3{height:41.415703px;}
.h5{height:42.057656px;}
.h6{height:49.125000px;}
.h2{height:49.898438px;}
.h4{height:50.671875px;}
.h1{height:59.286094px;}
.h7{height:69.117000px;}
.h8{height:69.120000px;}
.h0{height:792.000000px;}
.w4{width:183.610000px;}
.w2{width:183.620000px;}
.w3{width:183.630000px;}
.w1{width:183.650000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x8{left:18.720000px;}
.x9{left:23.760000px;}
.x5{left:36.000000px;}
.xc{left:41.750000px;}
.x6{left:54.000000px;}
.x7{left:72.024000px;}
.x2{left:82.464000px;}
.x3{left:139.340000px;}
.x4{left:143.780000px;}
.xa{left:202.370000px;}
.x1{left:223.730000px;}
.xb{left:386.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.128000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ls3{letter-spacing:0.160000pt;}
.ls2{letter-spacing:0.192000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.572480pt;}
._4{width:1.572480pt;}
._3{width:39.680000pt;}
._16{width:49.276160pt;}
._9{width:175.018667pt;}
._8{width:176.362667pt;}
._11{width:520.426667pt;}
._7{width:751.253333pt;}
._21{width:970.506667pt;}
._2{width:972.362667pt;}
._1{width:989.066667pt;}
._1b{width:997.770667pt;}
._1a{width:1013.386667pt;}
._a{width:1117.301333pt;}
._23{width:1139.274667pt;}
._22{width:1154.826667pt;}
._13{width:1190.282667pt;}
._6{width:1204.682667pt;}
._12{width:1206.666667pt;}
._5{width:1220.746667pt;}
._b{width:1247.445333pt;}
._10{width:1284.554667pt;}
._f{width:1300.746667pt;}
._18{width:1369.269333pt;}
._15{width:1510.069333pt;}
._14{width:1636.693333pt;}
._1d{width:1685.493333pt;}
._17{width:1703.541333pt;}
._d{width:1795.893333pt;}
._1e{width:1961.237333pt;}
._1f{width:2014.549333pt;}
._1c{width:2075.029333pt;}
._c{width:2119.637333pt;}
._e{width:2133.845333pt;}
._20{width:2153.237333pt;}
._19{width:2864.533333pt;}
.fs3{font-size:50.560000pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:74.880000pt;}
.y0{bottom:0.000000pt;}
.y24{bottom:4.013333pt;}
.y23{bottom:22.253333pt;}
.y22{bottom:40.813333pt;}
.y21{bottom:59.213333pt;}
.y6d{bottom:60.672000pt;}
.y38{bottom:66.272000pt;}
.y6c{bottom:75.872000pt;}
.y1f{bottom:77.600000pt;}
.y37{bottom:81.632000pt;}
.y6b{bottom:91.232000pt;}
.y36{bottom:97.632000pt;}
.y6a{bottom:106.592000pt;}
.y35{bottom:115.392000pt;}
.y69{bottom:121.952000pt;}
.y34{bottom:131.392000pt;}
.y68{bottom:137.306667pt;}
.y33{bottom:149.786667pt;}
.y67{bottom:153.306667pt;}
.y32{bottom:168.186667pt;}
.y66{bottom:171.706667pt;}
.y31{bottom:186.586667pt;}
.y65{bottom:190.106667pt;}
.y9c{bottom:192.346667pt;}
.y30{bottom:204.986667pt;}
.y9b{bottom:207.706667pt;}
.y64{bottom:208.506667pt;}
.y9a{bottom:223.066667pt;}
.y2f{bottom:223.226667pt;}
.y63{bottom:226.266667pt;}
.y99{bottom:238.266667pt;}
.y2e{bottom:241.626667pt;}
.y62{bottom:242.266667pt;}
.y98{bottom:253.626667pt;}
.y2d{bottom:259.386667pt;}
.y61{bottom:260.666667pt;}
.y97{bottom:268.986667pt;}
.y2c{bottom:275.386667pt;}
.y60{bottom:278.266667pt;}
.y96{bottom:284.386667pt;}
.y5f{bottom:293.666667pt;}
.y2b{bottom:293.826667pt;}
.y95{bottom:300.226667pt;}
.y5e{bottom:309.666667pt;}
.y2a{bottom:312.226667pt;}
.y94{bottom:318.786667pt;}
.y5d{bottom:328.066667pt;}
.y29{bottom:330.626667pt;}
.y93{bottom:336.706667pt;}
.y5c{bottom:346.466667pt;}
.y28{bottom:348.386667pt;}
.y92{bottom:352.386667pt;}
.y27{bottom:364.066667pt;}
.y5b{bottom:364.866667pt;}
.y91{bottom:370.306667pt;}
.y26{bottom:381.826667pt;}
.y5a{bottom:383.266667pt;}
.y90{bottom:386.306667pt;}
.y25{bottom:397.506667pt;}
.y59{bottom:401.026667pt;}
.y8f{bottom:404.706667pt;}
.y20{bottom:409.493333pt;}
.y1e{bottom:409.506667pt;}
.y58{bottom:417.026667pt;}
.y8e{bottom:423.106667pt;}
.y57{bottom:435.426667pt;}
.y8d{bottom:441.506667pt;}
.y56{bottom:453.826667pt;}
.y8c{bottom:459.266667pt;}
.y55{bottom:471.586667pt;}
.y8b{bottom:475.266667pt;}
.y54{bottom:486.946667pt;}
.y8a{bottom:493.666667pt;}
.y53{bottom:502.946667pt;}
.y1d{bottom:505.053333pt;}
.y89{bottom:512.093333pt;}
.y1c{bottom:520.733333pt;}
.y52{bottom:521.373333pt;}
.y88{bottom:530.493333pt;}
.y1b{bottom:538.493333pt;}
.y51{bottom:539.773333pt;}
.y87{bottom:548.893333pt;}
.y1a{bottom:554.813333pt;}
.y50{bottom:558.173333pt;}
.y86{bottom:566.653333pt;}
.y19{bottom:573.213333pt;}
.y4f{bottom:576.573333pt;}
.y85{bottom:582.653333pt;}
.y18{bottom:590.973333pt;}
.y4e{bottom:594.173333pt;}
.y84{bottom:600.413333pt;}
.y17{bottom:606.973333pt;}
.y4d{bottom:610.173333pt;}
.y83{bottom:616.093333pt;}
.y16{bottom:625.373333pt;}
.y4c{bottom:628.573333pt;}
.y82{bottom:634.173333pt;}
.y15{bottom:643.133333pt;}
.y4b{bottom:646.973333pt;}
.y81{bottom:649.373333pt;}
.y14{bottom:659.133333pt;}
.y4a{bottom:664.413333pt;}
.y80{bottom:664.733333pt;}
.y13{bottom:677.533333pt;}
.y49{bottom:680.413333pt;}
.y7f{bottom:680.733333pt;}
.y12{bottom:695.293333pt;}
.y48{bottom:698.173333pt;}
.y7e{bottom:699.133333pt;}
.y11{bottom:710.813333pt;}
.y47{bottom:713.853333pt;}
.y7d{bottom:717.533333pt;}
.y10{bottom:728.933333pt;}
.y46{bottom:729.253333pt;}
.y7c{bottom:735.973333pt;}
.yf{bottom:744.293333pt;}
.y45{bottom:745.253333pt;}
.y7b{bottom:753.733333pt;}
.ye{bottom:760.293333pt;}
.y44{bottom:762.853333pt;}
.y7a{bottom:769.733333pt;}
.yd{bottom:778.693333pt;}
.y43{bottom:778.853333pt;}
.y79{bottom:788.133333pt;}
.yc{bottom:797.253333pt;}
.y78{bottom:805.893333pt;}
.yb{bottom:815.493333pt;}
.y42{bottom:815.653333pt;}
.y77{bottom:821.253333pt;}
.ya{bottom:834.053333pt;}
.y76{bottom:837.253333pt;}
.y9{bottom:852.293333pt;}
.y41{bottom:852.453333pt;}
.y75{bottom:855.653333pt;}
.y8{bottom:870.213333pt;}
.y40{bottom:870.853333pt;}
.y74{bottom:874.053333pt;}
.y7{bottom:885.893333pt;}
.y3f{bottom:889.253333pt;}
.y73{bottom:892.453333pt;}
.y6{bottom:903.973333pt;}
.y3e{bottom:907.013333pt;}
.y72{bottom:910.853333pt;}
.y5{bottom:919.333333pt;}
.y3d{bottom:923.013333pt;}
.y71{bottom:928.453333pt;}
.y4{bottom:935.333333pt;}
.y3c{bottom:941.413333pt;}
.y70{bottom:944.453333pt;}
.y3{bottom:953.760000pt;}
.y3b{bottom:959.840000pt;}
.y6f{bottom:962.880000pt;}
.y2{bottom:972.160000pt;}
.y3a{bottom:978.240000pt;}
.y6e{bottom:980.640000pt;}
.y1{bottom:990.720000pt;}
.y39{bottom:996.000000pt;}
.h3{height:55.220937pt;}
.h5{height:56.076875pt;}
.h6{height:65.500000pt;}
.h2{height:66.531250pt;}
.h4{height:67.562500pt;}
.h1{height:79.048125pt;}
.h7{height:92.156000pt;}
.h8{height:92.160000pt;}
.h0{height:1056.000000pt;}
.w4{width:244.813333pt;}
.w2{width:244.826667pt;}
.w3{width:244.840000pt;}
.w1{width:244.866667pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x8{left:24.960000pt;}
.x9{left:31.680000pt;}
.x5{left:48.000000pt;}
.xc{left:55.666667pt;}
.x6{left:72.000000pt;}
.x7{left:96.032000pt;}
.x2{left:109.952000pt;}
.x3{left:185.786667pt;}
.x4{left:191.706667pt;}
.xa{left:269.826667pt;}
.x1{left:298.306667pt;}
.xb{left:514.666667pt;}
}
